.products__page__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding-bottom: 81px;
}
.products__not__found__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}
.products__not__found__img {
  max-width: 100%;
  height: 400px;
}

@media (max-width: 1056px) {
  .products__page__title {
    text-align: center;
  }
}

@media (max-width: 548px) {
  .products__not__found__img {
    height: 100%;
  }
}
