.categories__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 42px;
  row-gap: 58px;
  padding: 0 25px 80px 25px;
  animation: fadeIn 0.5s ease forwards;
  max-width: 1410px;
  margin: 0 auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1700px) {
  .categories__container {
    max-width: 1700px;
  }
}

@media (max-width: 580px) {
  .categories__container {
    padding: 0 6px 80px 6px;
  }
}
