.sale__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding-bottom: 21px;
}

@media (max-width: 1029.5px) {
  .sale__title {
    text-align: center;
    padding-bottom: 50px;
  }
}
