.discount__container {
  background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
  min-height: 476px;
  margin-bottom: 49px;
}
.discount__content {
  display: flex;
  align-items: center;
  gap: 200px;
  justify-content: center;
  padding-right: 165px;
}
.discount__img {
  padding: 27px 0 27px 91px;
}
.discount__info {
  display: flex;
  flex-direction: column;
  padding: 0 25px 0 0;
}

.discount__title {
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.discount__subtitle {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 46px;
}
