/* **************************** general styles **********************************/
.button {
  font-weight: 700;
  line-height: 130%;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease, box-shadow 0.1s ease-out;
}

/* ****************************header__btn************************************ */

.header__btn {
  width: 125px;
  height: 49px;
  background: #339933;
  border: 2px solid #339933;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
}
.header__btn:hover {
  background: #3eba3e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* *******************************head__btn************************************ */

.head__btn {
  width: 155px;
  height: 82px;
  background: #ffffff;
  border: none;
  border-radius: 13px;
  font-size: 25px;
  color: #2d2d2d;
}
.head__btn:hover {
  background: #a1e2eb;
  border: 2px solid white;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* *************************categories__btn*********************************** */

.categories__btn {
  width: 120px;
  height: 30.97px;
  border: 2px solid #8b8b8b;
  transition: border 0.2s ease, background 0.2s ease, color 0.2s ease,
    box-shadow 0.1s ease-out;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8b8b8b;
}

.categories__btn:hover {
  border: 2px solid #a1e2eb;
  background: #a1e2eb;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: black;
}

/* **************************discount__btn************************************** */
.discount__btn {
  background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
  width: 473px;
  height: 75.44px;
  border: 2.39494px solid #ffffff;
  border-radius: 25.1468px;
  font-size: 28.7392px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 21px 0;
}

.discount__btn:hover {
  background: #339933;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* *****************************add__to__cart__modal****************************** */
/* *****************************add__to__cart__btn******************************* */
.add__to__cart__modal {
  width: 279px;
  height: 72px;
  background: #f1fff1;
  border: 2px solid #339933;
  border-radius: 21px;
  font-weight: 600;
  font-size: 18px;
  color: #339933;
  transition: background 0.3s ease, box-shadow 0.1s ease-out,
    transform 0.3s ease;
}
.add__to__cart__modal:hover {
  background: #339933;
  border: 1px solid whitesmoke;
  color: white;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: background 0.3s ease, box-shadow 0.1s ease-out,
    transform 0.3s ease;
}

.add__to__cart__btn {
  width: 341px;
  height: 86px;
  background: #339933;
  border: 2px solid #339933;
  border-radius: 10px;
  font-size: 28px;
  color: #ffffff;
}

.add__to__cart__btn:hover {
  background: #3eba3e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* ***************************** order__btn ************************************* */
.order__btn {
  width: 100%;
  height: 76px;
  background: #339933;
  border: none;
  border-radius: 17px;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.order__btn:hover {
  background: #3eba3e;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* **************************general active ************************************ */
.button:active {
  top: 1px;
  box-shadow: none;
}
