.order__wrapper {
  max-width: 496px;
  height: 100%;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 21px;
  padding: 25px;
  animation: slide-in 0.6s ease forwards;
  transform: translateX(100%);
  position: sticky;
  top: 20px;
}
@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.order__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding-bottom: 47px;
}
.order__total__sum__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
  align-items: center;
}

.order__total {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
}
.order__sum {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0.03em;
}
.order__sum__span {
  font-size: 15px;
  font-weight: 600;
}
.order__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.order__complete {
  text-align: center;
  font-size: 22px;
  color: #339933;
  font-weight: 600;
  padding-bottom: 25px;
}
