.cart__list {
  max-width: 824px;
  width: 100%;
  padding-bottom: 191px;
}
.empty__cart__wrapper {
  max-width: 824px;
}
.empty__cart__img {
  width: 100%;
  height: 400px;
  max-width: 100%;
  object-fit: contain;
}
