.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 76px 0;
  animation: slide-in 1s ease forwards;
}

.header__logo__btn__container {
  min-width: 175px;
  gap: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.header__logo {
  width: 72px;
  height: 72px;
  cursor: pointer;
  position: relative;
}
.header__logo:active {
  top: 1px;
}

.navigation {
  min-width: 530px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  gap: 49px;
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 0;
}
.navigation ul li a::after {
  content: '';
  display: block;
  margin-top: 5px;
  width: 0;
  height: 2px;
  background: #339933;
  transition: width 0.3s;
}
.navigation ul li a:hover::after {
  width: 100%;
}
.navigation ul li a:active {
  color: #339933;
  position: relative;
  top: 1px;
}

.navigation__cart__icon {
  width: 26px;
  height: 29px;
  color: #000000;
  transition: color 0.3s ease-in-out;
}
.navigation__icon__container {
  position: relative;
}

.navigation ul li .activeLink {
  color: #339933;
}
.navigation__icon__container:hover .navigation__cart__icon path {
  fill: #339933;
}

.burger__menu {
  display: none;
}

@media (max-width: 376px) {
  .header__logo__btn__container {
    gap: 45px;
  }
}

@media (max-width: 850px) {
  .desktop__menu {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        90deg,
        rgba(165, 165, 165, 0.03) 0%,
        rgba(165, 165, 165, 0.03) 8%,
        rgba(235, 235, 235, 0.03) 8%,
        rgba(235, 235, 235, 0.03) 9%,
        rgba(7, 7, 7, 0.03) 9%,
        rgba(7, 7, 7, 0.03) 14%,
        rgba(212, 212, 212, 0.03) 14%,
        rgba(212, 212, 212, 0.03) 17%,
        rgba(219, 219, 219, 0.03) 17%,
        rgba(219, 219, 219, 0.03) 95%,
        rgba(86, 86, 86, 0.03) 95%,
        rgba(86, 86, 86, 0.03) 100%
      ),
      linear-gradient(
        67.5deg,
        rgba(80, 80, 80, 0.03) 0%,
        rgba(80, 80, 80, 0.03) 11%,
        rgba(138, 138, 138, 0.03) 11%,
        rgba(138, 138, 138, 0.03) 17%,
        rgba(122, 122, 122, 0.03) 17%,
        rgba(122, 122, 122, 0.03) 24%,
        rgba(166, 166, 166, 0.03) 24%,
        rgba(166, 166, 166, 0.03) 27%,
        rgba(245, 245, 245, 0.03) 27%,
        rgba(245, 245, 245, 0.03) 89%,
        rgba(88, 88, 88, 0.03) 89%,
        rgba(88, 88, 88, 0.03) 100%
      ),
      linear-gradient(
        67.5deg,
        rgba(244, 244, 244, 0.03) 0%,
        rgba(244, 244, 244, 0.03) 4%,
        rgba(16, 16, 16, 0.03) 4%,
        rgba(16, 16, 16, 0.03) 10%,
        rgba(157, 157, 157, 0.03) 10%,
        rgba(157, 157, 157, 0.03) 20%,
        rgba(212, 212, 212, 0.03) 20%,
        rgba(212, 212, 212, 0.03) 83%,
        rgba(5, 5, 5, 0.03) 83%,
        rgba(5, 5, 5, 0.03) 84%,
        rgba(237, 237, 237, 0.03) 84%,
        rgba(237, 237, 237, 0.03) 100%
      ),
      linear-gradient(90deg, #ffffff, #ffffff);
    z-index: 100;
    animation: slide-in 0.3s forwards;
    overflow: scroll;
  }
  .overlay.closing {
    animation: slide-out 0.3s forwards;
  }
  .header__logo__btn__container.burger {
    justify-content: space-evenly;
    gap: 0;
    padding-top: 75px;
    padding-bottom: 100px;
    padding-right: 25px;
  }
  .navigation.burger {
    flex-direction: column;
    text-align: center;
    min-width: auto;
  }
  .navigation.burger ul {
    flex-direction: column;
    gap: 60px;
  }
  .navigation.burger ul li a {
    font-size: 35px;
    font-weight: 600;
    color: #339933;
    text-shadow: -3px 1px 4px gray;
    letter-spacing: 2px;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .burger__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger__line {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform 0.4s, opacity 0.3s;
  }

  .burger__line.active:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .burger__line.active:nth-child(2) {
    opacity: 0;
  }

  .burger__line.active:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .close__button {
    position: fixed;
    top: 34px;
    right: 10px;
    font-size: 44px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    animation: fadeIn 2.5s ease forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (min-width: 851px) {
  .burger__menu {
    display: none;
  }
  .overlay {
    display: none;
  }
}
