.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 76px 0;
}

.header__logo__btn__container {
  min-width: 175px;
  gap: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slide-in 1s ease forwards;
  transform: translateX(-100%);
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.header__logo {
  width: 72px;
  height: 72px;
  cursor: pointer;
  position: relative;
}
.header__logo:active {
  top: 1px;
}
