* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}

#root {
  height: 100%;
}

.app__wrapper {
  min-height: 100%;
}

body {
  height: 100%;
  line-height: 1;
}
html {
  height: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}
