.category__item {
  cursor: pointer;
}

.category__img__wrapper {
  height: 350px;
  width: 318px;
  overflow: hidden;
  margin-bottom: 20px;
}

.category__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.category__img__wrapper:hover img {
  transform: scale(1.1);
}

.category__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.category__item a {
  text-decoration: none;
}
