/* *********************************discount__input********************************* */

.discount__input {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 25.1468px;
  border: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #6c6c6c;
  padding: 27px 50px 27px 50px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.discount__input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
}

/* ******************filter__input, filter__checkbox************************* */
.filter__input {
  width: 103px;
  height: 42px;
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 10px;
  outline: none;
}
.filter__input:focus {
  box-shadow: 0 0 3px #339933 inset;
  border-color: #339933;
}

.filter__input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #acacac;
}

.filter__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 7px;
  transition: background-color 0.1s ease, border-color 0.3s ease;
}
.filter__checkbox:checked {
  background-color: #339933c5;
  border-color: #339933;
}

/* ****************************order__input *********************************** */

.order__input {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 25px;
  outline: none;
  background: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #6c6c6c;
  transition: all 0.2s ease-in-out;
}
.order__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #929292;
}
.order__input:focus {
  box-shadow: 0 0 5px #339933 inset;
  border: 1px solid #339933;
}
