.head__container {
  background: #a1e2eb;
  min-height: 600px;
  margin-bottom: 40px;
  position: relative;
}
.banner__container {
  max-width: 1410px;
  margin: 0 auto;
}
.head__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 2s ease forwards;
}

.head__texts__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  padding-top: 130px;
}
.head__texts__btn a {
  width: 155px;
  height: 82px;
}
.head__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 130%;
  color: #ffffff;
}
.head__subtitle {
  font-weight: 700;
  font-size: 63px;
  line-height: 130%;
  color: #ffffff;
  padding-bottom: 60px;
}

.head__img {
  max-width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
