.product__item {
  transition: opacity 0.3s ease;
  cursor: pointer;
  z-index: 1;
}
a {
  text-decoration: none;
}

.product__img__wrapper {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.product__item:hover {
  opacity: 0.8;
}
.product__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.product__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  max-width: 300px;
  padding-left: 20px;
  padding-bottom: 45px;
}

.product__modal {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 100;
}

.product__item:hover .product__modal {
  opacity: 1;
  transform: translateY(0);
}

.product__modal > * {
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.product__item:hover .product__modal > * {
  transform: translateY(0);
}
