.discount__form {
  max-width: 473px;
  min-height: 75.44px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discount__complete {
  text-align: center;
  font-size: 22px;
  color: #ff32a1;
  font-weight: 600;
  padding-bottom: 20px;
}
