.discount__form {
  max-width: 473px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discount__complete {
  text-align: center;
  font-size: 22px;
  color: #ff32a1;
  font-weight: 600;
  padding-bottom: 20px;
}

@media (max-width: 894px) {
  .discount__complete {
    line-height: 35px;
  }
}
@media (max-width: 849px) {
  .discount__form {
    padding-bottom: 50px;
  }
}
