.categories__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding-bottom: 81px;
}
@media (max-width: 1033.5px) {
  .categories__title {
    text-align: center;
  }
}
